body{
    background-color: whitesmoke;
}

h1{
    color: black;
    text-align: center;
}

#button_1{
    align-self: center;
}

form {
    display: inline-block; //Or display: inline;
}


label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid deepskyblue;
}